/* Navigation.css */

.navbar-kuuii {
    background-color: rgba(255, 255, 255, 0.98) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    transition: all 0.3s ease;
    /* Aumentamos el padding vertical para darle aire al logo grande */
    padding: 15px 0; 
}

.navbar-brand-logo {
    height: 85px;          /* Mantenemos el alto fijo que te gust칩 */
    width: 170px;          /* <--- CAMBIO: Forzamos el ancho (prueba con 200px, 220px, 250px) */
    object-fit: fill;      /* Esto obliga a la imagen a estirarse para llenar ese ancho */
    
    transition: transform 0.2s;
    filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.1));
}

/* El resto sigue igual */
.navbar-brand-logo:hover {
    transform: scale(1.05);
}

.nav-link-custom {
    color: #333 !important;
    font-weight: 600; /* Un poco m치s negrita para que se lea mejor */
    font-size: 1.1rem; /* Texto un poco m치s grande */
    margin: 0 15px;
    position: relative;
    transition: color 0.3s ease;
}

.nav-link-custom:hover {
    color: #0056b3 !important;
}

.nav-link-custom::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px; /* Subrayado un poco m치s grueso */
    bottom: 5px;
    left: 0;
    background-color: #0056b3;
    transition: width 0.3s;
}

.nav-link-custom:hover::after {
    width: 100%;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}